{% load render_entrypoint render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Myuri</title>
  {% render_entrypoint 'index' 'css' %}
  <link type="text/css" href="{% static 'media/css/header.css' %}" rel="stylesheet"/>
</head>
<body>
<div class="container">
  {% include 'myuri/header.html' %}

  <div class="alert alert-primary" role="alert">
    Hello! This app is still in heavy development
  </div>

  {% block main %}{% endblock main %}
</div>

{% render_entrypoint 'index' 'js' %}
</body>
</html>